.main {
  justify-items: center;
  background-color: rgb(37, 44, 44);
  width: 35%;
  border: 2px solid grey;
  border-radius: 5px;
}
.display {
  width: 90%;
  justify-content: center;
  margin: 10px;
}
